\#
.python-environments/
bookmarks
elpa/
irony/
projectile-bookmarks.eld
projectile.cache
recentf

# Emacs
.emacs-buffers
.org-id-locations
ac-skk-alist.el
eshell/
lisp/
/.emacs.desktop
/.emacs.desktop.lock

# Misc
auto-save-list/
backups/
session.*
.\#*
\#*
kkcrc

# Cache
settings.el
*-cache.el
network-security.data

# Old config
config/
themes/
wl.el
scripts/
.gitmodules
